{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<style>
    #slide-btn{
        margin-right:1em;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #toggle-wrap{
       
        margin-top: 2em;
        margin-bottom: 2em;
    }
</style>
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About Us</h2>
                    <h3 class="section-subheading text-muted">What we can offer you.</h3>
                </div>
                <p>
                    
            <h2>Our Commitment to You - Service</h2>
                At MyGrocery, we value our customers so much that we have engrained our customer service into our core values. Everything we do stems from our desire to make shopping at MyGrocery the best shopping experience you can get anywhere. If there is anything we can do to better serve you, please let us know.

            <h2>Our Vision</h2>
                To be the best supermarket in every neighborhood we serve.

            <h2>Our Mission</h2>
                As a locally owned retailer, MyGrocery is committed to offering value through exceptional service, quality, and freshness.

            <h2>Our Fresh Promise</h2>
                Our promise is to exceed your expectations by combining the best customer service with the freshest foods. MyGrocery is locally owned and we support local suppliers. When you shop here your money stays here. Our team is committed to buying the freshest foods and bringing them to you for a great price.

                <h2>Who Are We ?</h2>
                MyGrocery is your local neighborhood grocery store owned and operated by Associated Food Stores, a member-owned wholesale grocery distributor based in India. Associated Food Stores has been serving Utah and its neighboring states for more than 70 years.

                We are committed to providing wholesome products that fit your lifestyle. That is why we continue to add to our growing list of natural, organic and gluten-free lines. It is part of living up to our promise to provide you with fresh, nutritious foods in convenient, easy-to-shop, locations. You can find these great offerings in all of the departments throughout our store.
              
                </p>
            </div>
        </section>

{% endblock %}
      